<nav class="pagination">
    <div>
      {{#if next}}
          <!-- <a class="older-posts" href="{{page_url next}}">&larr; Older posts</a>-->
        <a href="{{page_url next}}"> Prev Comic &larr; </a>
      {{/if}}
        <span class="page-number">Page {{page}} of {{pages}}</span>
      {{#if prev}}
        <a href="{{page_url prev}}"> Next Comic &rarr; </a>
      {{/if}}
	</div>
</nav>

